---
import Layout from '../layouts/Layout.astro';
---
<Layout title="guythat.codes">
	<p>Text test</p>
	<p class="text-primary bg-secondary">
        ds
    </p>
    <p class="bg-primary p-4 text-#fff">oi</p>
</Layout>
