---
import Layout from '../layouts/Layout.astro';
import { World } from '../components/world';
---
<Layout path={"/"} title="Blog | guythat.codes">
	<World client:idle />
		<div >
	<div class="h-[400px]" />
	<h1 class="font-bold text-5xl mt-8 text-center">Hi <span class="text-yellow">there</span>,<br/>I am Luca</h1>
	<div class="h-[400px]" />
			<div class="bg-yellow mix-blend-difference">
				<div class="">
	<div class="h-[400px]" />
	<h1 class="font-bold text-5xl mt-8">Blog Posts</h1>
	<div class="h-[400px]" />
				</div>
				</div>
			</div>
</Layout>
