---
import Layout from "./Layout.astro";
import Progress from "./../components/solid/Progress.tsx";

const { content } = Astro.props;
---
<Layout>

    <div class="flex items-start justify-center">
        <div class="fixed top-[calc(50%+40px)] left-[calc(50%-38ch)] translate--50%">
            <Progress client:only="solid-js" content={content} />
        </div>
        <article class="text-base prose mt-8">
            <slot />
        </article>
    </div>
</Layout>
