pre > code {
    display: grid;
}

/* Dark / Light Theme */

.dark pre[data-theme="light"] {
    display: none;
}
pre[data-theme="dark"] {
    display: none;
}
.dark pre[data-theme="dark"] {
    display: block;
}

/* Line numbers */

code[data-line-numbers] {
    counter-reset: line;
}

code[data-line-numbers] > .line::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
}
