---
// TODO: dark light toggle
---
<div class="flex justify-between items-center bg-background px-8 py-4 shadow-rgba(36, 39, 47, 0.5) shadow-lg pos-sticky top-0 h-80px block box-border">
    <a href="/" class="text-light-primary text-32px font-600">guythat.codes</a>
    <div class="flex gap-8 items-center">
        <a href="/about">About me</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact</a>
    </div>
</div>
