---
import { Icon } from "astro-icon";
import { DarkToggle } from "./dark-toggle.jsx";

const { path } = Astro.props;
---

<div class="flex px-2 lg:px-8 py-2 gap-2 md:items-stretch items-center md:flex-row flex-col z-10">
    <div class="flex-1 flex gap-2 items-center">
        <Icon name={"logo"} />
        <a href={"/"} class="font-bold font-mono tracking-tight text-3xl text-center">guythat.codes</a>
    </div>
    <div class="flex-0 flex gap-4 items-center">
        <a href={"/"} class=`${path === "/" ? "underline" : ""} text-lg font-bold text-center`>Home</a>
        <a href={"/about"} class=`${path === "/about" ? "underline" : ""} text-lg font-bold text-center`>About Me</a>
        <a href={"/blog"} class=`${path === "/blog" ? "underline" : ""} text-lg font-bold text-center`>Blog</a>
    </div>
    <div class="flex-1 flex gap-2 items-end justify-end">
        {/* <a href="https://www.linkedin.com/in/luca-fanselau-6bb099235/" target="_blank"> */}
        {/*   <Icon name="line-md:linkedin" size={24}/> */}
        {/* </a> */}
        <DarkToggle client:load />
    </div>
</div>
<div class="h-[2px] w-full bg-dark"></div>

<style>
    [astro-icon="logo"] {
        width: 42px;
    }
</style>
<script is:inline>
    const theme = localStorage.getItem("theme");
    if (theme === "dark" || (!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
        document.documentElement.classList.add("dark");
        window.localStorage.setItem("theme", "dark");
    } else {
        document.documentElement.classList.remove("dark");
        window.localStorage.setItem("theme", "light");
    }
</script>
