---
import { Icon } from "astro-icon"
---
<div class="px-8 py-4">
  <div class="flex gap-2 items-center">
    <Icon name={"logo"} />
    <p class="font-bold text-3xl">guythat.codes</p>
</div>
</div>

<style>
  [astro-icon="logo"] {
    width: 48px;
  }
</style>
